@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body {
    font-family: 'Yatra One', cursive; /* doesnt work */
    /* background-image: url("https://i.pinimg.com/originals/bb/02/ea/bb02eaf013b066bae3077469c2155c63.jpg"); */
    background-image: url("https://drive.google.com/open?id=1vCwT_TA3lXtyvVwBJJ4Off8cixg-V1Yz");
    background-size: cover;
}
