@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');

body {
    font-family: 'Yatra One', cursive; /* doesnt work */
    /* background-image: url("https://i.pinimg.com/originals/bb/02/ea/bb02eaf013b066bae3077469c2155c63.jpg"); */
    background-image: url("https://drive.google.com/uc?export=view&id=1vCwT_TA3lXtyvVwBJJ4Off8cixg-V1Yz");
    background-size: cover;
    padding-top: 20px;
}

.hideable {
    display: block;
}

.fa-eye-slash:hover .fa-eye:before {
    /* content:"\f06e"; */
    color: red;
    content:"\f070";
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* Dropdown Button */
.dropbtn {
  color: white;
  padding: 16px;
  font-size: 45px;
  text-shadow: 2px 2px black;
  background-color: transparent;
  transform: skew(-20deg);
  border: none;
}

.reverse-skew {
    display: block;
    transform: skew(20deg);
}
/* The container <div> - needed to position the dropdown content */
.dropdown{
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 300px;
  z-index: 1;
}

#resource-link, #art-link, #artistName, #artTitle, #creditsLink {
  color: #D3D3D3;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
 .dropdown-content a:hover {color: white;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #ddd;}

footer {
  padding-bottom: 10px;
}


/* DropUP Button */
.dropupbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transform: skew(-20deg);
}

/* The container <div> - needed to position the dropdown content */
.dropup {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 375px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

#saved-articles-list {
  max-height: 300px;
  overflow: scroll;
}

/* Links inside the dropdown */
.dropup-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  max-height: 300px;
  text-shadow: none;
  font-size: 20px;
}

.dropup-content a:hover {
  background-color: #ddd;
  max-height: 300px;
  overflow: scroll;
  margin: 0px !important;
  padding: 0px !important;
}
.dropup:hover .dropup-content {
  background-color: #ddd;
  display: block;
  position: absolute;
  margin-top: -365px;
  max-height: 300px;
}
.dropup:hover .dropupbtn {background-color: #D3D3D3;}

#dropdownTitle {
  font-size: 24px;
  text-shadow: 2px 2px black;
}
