@font-face {
  font-family: "Yatra One";
  src: url("webfonts/YatraOne-Regular.ttf")
}

@font-face {
  font-family: "Italiana";
  src: url("webfonts/Italiana-Regular.ttf");
}

/* General styles for Tab for Black Lives Matter */
body {
  font-family: "Yatra One", cursive;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #3f3f3f !important;
}
header {
  position: absolute;
  top: 20px;
  width: 100%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#offline {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
}

#background-img {
  background-size: cover;
  background-position: 50% 50%;
  height: 100vh;
  z-index: -900;
}

#clock {
  font-size: 80px;
}

#resource-link,
#art-link,
#artistName,
#artTitle,
#creditsLink, #patreon {
  color: #d3d3d3;
}

/* Icon styling */
.fa-eye {
  text-shadow: 2px 2px black;
}

.fa-eye-slash {
  text-shadow: 2px 2px black;
}

.fa-star {
  cursor: pointer;
}

.star-btn:hover .fa-star:before {
  color: gray;
}

.star-btn-dropup:hover .fa-star:before {
  color: white;
}

/* Overlay styling */
#hide-overlay-btn:hover .fa-eye:before {
  cursor: pointer;
  content: "\f070";
  color: grey;
}

#hide-overlay-btn:hover .fa-eye-slash:before {
  cursor: pointer;
  content: "\f06e";
  color: grey;
}

/* Dropdown styling */
#dropdownTitle {
  font-size: 24px;
  text-shadow: 2px 2px black;
  font-family: "Yatra One", cursive;
}

.titlerow {
  background: rgba(205, 205, 205, 1);
}

.hideable {
  display: block;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 45px;
  text-shadow: 2px 2px black;
  background-color: transparent;
  transform: skew(-20deg);
  border: none;
}

.reverse-skew {
  display: block;
  transform: skew(20deg);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 300px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-shadow: 2px 2px black;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
  animation: moveFromTop 400ms ease-in-out;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #ddd;
}

footer {
  padding-bottom: 10px;
}

/* DropUP Button */
.dropupbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  transform: skew(-20deg);
  border-radius: 3px;
}
.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background: #ddd;
  border-radius: 3px;
  min-width: 375px;
  padding-left: 0px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.dropup-content a {
  color: black;
  padding: 8px 12px;
  text-decoration: none;
  display: block;
  max-height: 300px;
  text-shadow: none;
  font-size: 20px;
}

.dropup-content a:hover {
  /* background-color: rgba(205, 205, 205, 1); */
  text-decoration: underline;
  max-height: 300px;
}
.dropup:hover .dropup-content {
  animation: moveFromBottom 400ms ease-in-out;
  display: block;
  position: absolute;
  margin-top: -365px;
  max-height: 300px;
}
.dropup:hover .dropupbtn {
  background: #ddd;
  color: white;
}

#saved-articles-list {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  background: #ddd;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(195, 195, 195, 1);
  border-radius: 10px;
}

/* Resizing changes */
@media only screen and (max-width: 1000px) {
  #clock {
    font-size: 60px;
  }

  .dropbtn {
    font-size: 30px;
  }

  #date,
  #submit-credits,
  #dropdownTitle,
  #art-title,
  .dropdown-content a {
    font-size: 20px;
  }
}

#artistBioInfo {
  font-family: "Yatra One", cursive;
  font-size: 20px;
}


@media only screen and (max-width: 800px) {
  #clock {
    font-size: 40px;
  }

  .dropbtn {
    font-size: 20px;
  }
}

/* Animations */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveFromTop {
  from {
    opacity: 0;
    transform: translateY(-7%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes moveFromBottom {
  from {
    opacity: 0;
    transform: translateY(7%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}


/* Content warning hover */

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  position: absolute;
  z-index: 1;
}

.tooltiptext-bottom {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  left: -25px;
  bottom: 70px;
  font-size: 20px;

  position: absolute;
  z-index: 1;
}

#cw-read1:hover #tooltiptext-read1 {
    visibility: visible;
}

#cw-read2:hover #tooltiptext-read2 {
    visibility: visible;
}

#cw-read3:hover #tooltiptext-read3 {
    visibility: visible;
}

#cw-sign1:hover #tooltiptext-sign1 {
    visibility: visible;
}

#cw-sign2:hover #tooltiptext-sign2 {
    visibility: visible;
}

#cw-sign3:hover #tooltiptext-sign3 {
    visibility: visible;
}

#cw-donate1:hover #tooltiptext-donate1 {
    visibility: visible;
}

#cw-donate2:hover #tooltiptext-donate2 {
    visibility: visible;
}

#cw-donate3:hover #tooltiptext-donate3 {
    visibility: visible;
}

#artistBio:hover #artistBioInfo {
    visibility: visible;
}
